@import '../../../config';

@media screen and (min-width:320px){
	.mosaic-houses{
		width: 90%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(2,1fr);
		gap: 2px;

		img{
			width: 100%;
			height: 150px;
			object-fit: contain;
		}
		div{
			cursor: pointer;
			&:hover{
				box-shadow: 1px 1px 5px 0px black;
			}
		}
	}
}

@media screen and (min-width:800px){

	.mosaic-houses{
		
		width: 50%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(2,1fr);
		gap: 2px;

		img{
			width: 100%;
			height: 150px;
			object-fit: contain;
		}
	}
}