
<section class="mosaic-houses">

	<div 	class="gryffindor"
				[routerLink]="['/houses/gryffindor']">
		<img src="https://i.postimg.cc/T37VscqV/Gryffindor.jpg" alt="">
	</div>

	<div 	class="hufflepuff"
				[routerLink]="['/houses/hufflepuff']"	>
		<img src="https://i.postimg.cc/9f04q59T/Hufflepuff.png" alt="">
	</div>

	<div 	class="ravenclaw"
				[routerLink]="['/houses/ravenclaw']">
		<img src="https://i.postimg.cc/fLbvLrzg/ravenclaw.jpg" alt="">
	</div>

	<div 	class="slytherin"
				[routerLink]="['/houses/slytherin']">
		<img src="https://i.postimg.cc/rF5Z77KS/slytherin.jpg" alt="">
	</div>



	
</section>