<section class="home">
	<main>
		<div class="school-info">
			<hr>
			<h2>Magician School Education</h2>
			<p>Welcome to the magician school, we are the best option in the galaxy to your Kinds.</p>
			<br>
			<p>We have 4 house where your kids could stay 
				<strong>Gryffindor</strong>,
				<strong>Hufflepuff</strong>,
				<strong>Ravenclaw</strong>,
				<strong>Slytherin</strong>. Not wait for visit us.
			</p>
		</div>
		<app-mosaic></app-mosaic>
	</main>

	<aside>
		<app-sidebar></app-sidebar>
	</aside>
</section>



